{% extends 'main/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}


				<div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">FORM</h1>
                    <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p> -->

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Add Dadus Funcionariu</h6>
                        </div>
                        <div class="card-body">
                        	<form method="POST" action="" novalidate>
                        		{% csrf_token %}
                                <table class="table table-hover">
                                {% for field in form %}
                                    <tr>
                                        <div class="form-group">
                                            <td width="20%"><label for="{{ field.id_for_label }}">{{field.label}}</label></td>
                                            <td width="80%">{{field|add_class:'form-control'}}</td>
                                                {% for error in field.errors %}
                                                    <span class="help-block">{{error}}</span>
                                            {% endfor %}
                                        </div>
                                    </tr>
                        		{% endfor %}
                                </table>
                                <br>
                                <div class="form-group text-right">
                                    <button class="btn btn-sm btn-warning" onclick=self.history.back()>
                                        <span class="fa fa-angle-left"></span> Cancel
                                    </button>
                                    <button type="submit" name="save_and_add_another" class="btn btn-sm btn-default">
                                        <span class="fa fa-save"></span> | save and Add Another
                                    </button> 
                                    <button type="submit" name="save" class="btn btn-sm btn-success">
                                        <span class="fa fa-save"></span> | save
                                    </button>                                               
                                </div>
                        	</form>
                        </div>
                    </div>
                </div>

{% endblock %}

